In [1]:
import warnings
warnings.filterwarnings('ignore')

from datetime import datetime
import pandas as pd

In [2]:
category = '정치'

In [3]:
datetime = datetime(2020,4,28)

## crawling

In [4]:
from utils import get_top_30, get_all_top_30

In [5]:
# get_all_top_30()

In [6]:
df = get_top_30(category)
df.head()

,title,text,url,category,date
0,"'재산 43억 증가' 양정숙 제명···시민당, 총선전 알고 있었다",28일 오전 서울 여의도 국회에서 열린 더불어민주당 경제를 공부하는...,https://news.naver.com/main/ranking/read.nhn?r...,정치,20200428
1,"“김정은, 혼자 서거나 걷지 못하는 상태인건 분명”","태구민, CNN 인터뷰서 주장“정확한 상태, 가족·측근만 알것”주영국 ...",https://news.naver.com/main/ranking/read.nhn?r...,정치,20200428
2,"청와대, '오거돈 성추행 사전인지' 보도에 ""황당""","“억지로 연결, 문 대통령 아무 관련 없어… 당리당략 목적 수많은 주장...",https://news.naver.com/main/ranking/read.nhn?r...,정치,20200428
3,"더시민 ""양정숙 당적 박탈 및 고발 방침""…부실 검증 논란(종합)","4년 만에 43억 증액…명의신탁·부동산실명제 위반 의혹더시민, 오늘 윤...",https://news.naver.com/main/ranking/read.nhn?r...,정치,20200428
4,"김종인이 미는 70년대생? 박지원 ""김세연이라면 도련님""",김종인 미래통합당 비상대책위원장 내정자가 꺼내 든 ‘40대 경제 ...,https://news.naver.com/main/ranking/read.nhn?r...,정치,20200428

## Topic

In [7]:
from utils import get_topics

In [8]:
kewords = get_topics(df, n=5)
kewords

['위원장', '북한', '당선인', '장관', '시민']

## To DB

In [9]:
from utils import WRITEMEDataBase

In [11]:
db = WRITEMEDataBase()

In [12]:
db.select_keywords()

()

In [13]:
db.insert_keywords(kewords, category, datetime, 'am')

In [14]:
result = db.select_keywords()
pd.DataFrame(result)

   keywordID  categoryID keywordName        date time
0          1           1         위원장  2020-04-28   am
1          2           1          북한  2020-04-28   am
2          3           1         당선인  2020-04-28   am
3          4           1          장관  2020-04-28   am
4          5           1          시민  2020-04-28   am

In [15]:
# db.delete_keywords()

In [17]:
db.curs.close()